<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Articles</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <div id="import-export-menu">
        <form action="article/export">
            <button>Export</button>
        </form>

        <form>
            <button type="button" on#click="./eventHandlers#redirectClickHandler">Import</button>
            <input type="file" accept=".json" name="file" id="import-file" hidden on#change="./eventHandlers#importArticlesHandler" />
        </form>
    </div>
</body>
</html>
