<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Articles</title>
  </head>
  <body>
    <input id="articleText" />
    <button type="button" on#click="./eventHandlers#createArticleHandler">
      create
    </button>
    <h1>Welcome to Moloko Blog!!!</h1>
    <div renderFor="service/articleService#getArticles">
      <div renderIf="!./eventHandlers#isInUpdate#{id}">
        <p id="{id}">
          {text} owner: {owner}
          <span renderIf="./service/userService#isLoggedIn">
            <button on#click="./eventHandlers#editArticleHandler#{id}#{text}">
              edit
            </button>
            <button on#click="./eventHandlers#deleteArticleHandler#{id}">
              delete
            </button>
          </span>
        </p>
      </div>
      <div renderIf="./eventHandlers#isInUpdate#{id}">
        <input id="update_{id}" name="text" value="{text}" />
        <button on#click="./eventHandlers#updateArticleHandler#{id}">
          update
        </button>
      </div>
    </div>
  </body>
</html>
