<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
  </head>
  <body>
    <div id="menu" renderIf="./eventHandlers#isNotLoggedIn">
      <p>username:</p>
      <input id="username" />
      <p>password:</p>
      <input id="password" />
      <p></p>
      <button type="button" on#click="./eventHandlers#login">Log In</button>
      <button type="button" on#click="./eventHandlers#register">
        Create new account
      </button>
    </div>
    <div renderIf="./eventHandlers#isLoggedIn">
      <p>you are logged in</p>
      <button type="button" on#click="./eventHandlers#logout">Log out</button>
    </div>
  </body>
</html>
