body {
  text-align: center;
}

form {
    margin:1vw;
}

#menu {
  text-align: right;
}

/*
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
*/
@media all and (max-width: 500px) {
  body {
    font-size: 6vw;
  }
  input {
    height: 10vw;
    width: 30vw;
    font-size: 6vw;
  }
}