.menu-base {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu-item {
    float: left;
}

.menu-item-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item-link:hover {
    background-color: #111;
}

.right {float: right;}

@media screen and (max-width: 600px){
    ul.menu-base li.right,
    ul.menu-base li {float: none;}
}